/s/spring-integration/spring-all/target/
/s/spring-integration/spring-beans-model/target/
/s/spring-integration/spring-integration-model/target/
/s/spring-integration/spring-integration-mail-model/target/